<div class="wrapper">
    <div class="box" *ngFor = "let pokemon of pokemons">
        <h2>{{pokemon.name}}</h2>
        <img [src]="pokemon.sprites.front_default" alt="PokemonImage">
        <app-favourite-button [pokemonName]="pokemon.name"></app-favourite-button>
    </div>
</div>