<nav>
    <span>Pokemon Trainer</span>

    <ng-container *ngIf="trainer !== undefined">
        <ul>
            <li>
                <a class="pokemon" routerLink="/pokemon">Pokemon</a>
            </li>
            <li>
                <a class="trainer" href="/trainer">Trainer</a>
            </li>
        </ul>
    </ng-container>

</nav>