form, fieldset {
    margin: 0 auto;
    text-align: center;
    border: none;
}

input {
    padding: 16px;
    width: 40%;
    border-radius: 10px;
    border: none;
}

button {
    padding: 10px;
    width: 20%;
    border-radius: 20px;
    border: 2px solid red;
    background-color: white;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
}