/* You can add global styles to this file, and also import other style files */
* {
    font-family: sans-serif;
}

h1 {
    color: white;
}

body {
    margin: 0 auto;
    background-color: #484848;
}